.projects {
  background: var(--white);
}

.projects h1 {
  color: var(--black);
}

.box_container {
  margin-top: 3rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

.box {
  cursor: initial;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.image {
  height: 25rem;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.image img:hover {
  transform: scale(1.1);
}

.content {
  display: flex;
  gap: 0.5rem;
  background: var(--white);
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  font-size: 3rem;
  background: var(--light-green);
  color: var(--white);
  cursor: pointer;
  border-radius: 0 0 20px 0;
}

.info {
  padding: 1rem 2rem;
}

.info h3 {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;

  font-size: 1.7rem;
}

.info p {
  font-size: 1.5rem;
  color: var(--light-color);
}
