@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

.search_form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 70rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: fadeIn 0.2s linear;
}

input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
}

label {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  margin: 0 1rem;
}

label:hover {
  color: var(--yellow);
}

@media (max-width: 768px) {
  .search_form {
    width: 90%;
  }
}
