.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h2 {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;

  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1rem;
}

.footer p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: var(--light-color);
}

.logo img {
  width: 13rem;
  height: 14rem;
}

.footer svg {
  padding: 1.5rem;
  line-height: 5rem;
  font-size: 1.5rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5rem;
  margin: 0 0.3rem;
  border-radius: 20px;
}

.footer svg:hover {
  background: var(--light-green);
  color: var(--white);
}

@media (max-width: 800px) {
  .contact {
    display: none;
  }
}
