:root {
  /* this is new color palete */
  --orange: #d68438;
  --yellow: #f1b24b;
  --blue: #36846b;
  --light-blue: #4bb39a;

  --light-green: #77c6a6;
  --black: #111;
  --white: #fff;
  --light-color: #666;
  --light-bg: #eee;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--light-green);
}

section,
footer {
  padding: 5rem 10%;
}

.heading {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  margin-bottom: 3rem;
}

.heading img {
  width: 4.5rem;
  height: 4.5rem;
}

.title {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;

  font-size: 3rem;
  color: var(--black);
  text-transform: uppercase;
}

/* Swipper Container Projects Section */
.lg-react-element {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

/* Responsivity */
@media (max-width: 1200px) {
  section,
  footer {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section,
  footer {
    padding: 3rem 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading img {
    width: 3.5rem;
    height: 3.5rem;
  }
}
