@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

.navbar a {
  font-size: 2rem;
  font-weight: 500;
  color: var(--black);
  margin: 0 1rem;
}

.navbar a:hover {
  color: var(--light-green);
}

@media (max-width: 991px) {
  .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    transition: 0.2s linear;

    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 2rem;
  }
}
